<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Home</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "plants"}}
        Plants
      {{/link-to}}
    </div>
  </div>
  <div class="body">
  </div>
</div>
{{outlet}}