<h2>PLANTS</h2>

{{!-- {{#plants-filter
    filter=(action 'filterByWaterLevel')
    as |filteredResults|}}
    <ul class="results">
    {{#each filteredResults as |plantsUnit|}}
        <li>{{plants-list plants=plantsUnit}}</li>
    {{/each}}
    </ul>
{{/plants-filter}} --}}


{{#each model as |plantsUnit|}}
  {{plants-list plant=plantsUnit}}
{{/each}}